language: swift
os: osx
osx_image: xcode8.3
before_install:
  - /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
  - brew update
  - brew install carthage
  - carthage update
script:
  - export LC_CTYPE=en_US.UTF-8
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild clean -workspace Network.xcodeproj -scheme Network | xcpretty
  - xcodebuild -project Network.xcodeproj -scheme Network -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3' | xcpretty
  
