language: swift
os: osx
osx_image: xcode9.0
before_install:
  - /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
  - brew update
  - brew upgrade carthage
  - carthage update
script:
  - xcodebuild clean -scheme Network | xcpretty
  - xcodebuild clean -scheme Network_macOS | xcpretty
  - xcodebuild clean -scheme Network_tvOS | xcpretty
  - xcodebuild clean -scheme Network_watchOS | xcpretty

  - xcodebuild -project Network.xcodeproj -scheme Network -destination 'platform=iOS Simulator,name=Generic iOS Device' | xcpretty
  - xcodebuild -project Network.xcodeproj -scheme Network_macOS -destination 'arch=x86_64' | xcpretty
  - xcodebuild -project Network.xcodeproj -scheme Network_tvOS -destination 'name=Generic tvOS Device' | xcpretty
  - xcodebuild -project Network.xcodeproj -scheme Network_watchOS -destination 'name=Generic watchOS Device' | xcpretty